#################
## My Files
#################
unload.php
htaccess.txt
.htaccess
*.jpg
*.png
*.gif
*.htm
/portfolio/*
node_modules/
.gitignore
npm-debug.log

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store