/*
@group reset styles
@group general styles
@group page components
*/

/* @group reset styles */
/* http://meyerweb.com/eric/tools/css/reset/|v2.0|20110126*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;background:transparent}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none;list-style-type:none;list-style-image:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
.center{text-align:center}
.clear:before,.clear:after {content: " ";display: table;}
.clear:after {clear: both;}
.small{font-size:0.9em}

/* @group general styles */
html{font-size:0.75em;font-family:arial,sans-serif;color:#444;height:100%;width:100%;min-width:800px;line-height:1.5em;overflow:hidden}
body{height:100%;width:100%;display:none;overflow:hidden}
ul{margin-left:30px;line-height:1.5em}
li{list-style:disc}
*:focus{outline:none;/* Prevents blue border in Webkit */}
a{color:#06C;text-decoration:none;cursor:pointer;border-bottom:1px dashed #9CF;white-space:nowrap}
a:hover{color:#036}
#primary-content p{margin:10px 0 10px}
#secondary-content p{margin:10px 0 15px}
h1,h2,h3{font-size:1.3em;display:block;letter-spacing:3px;text-transform:lowercase;line-height:1.5em}
h1,h2{margin:35px 0 5px;border-bottom:3px solid #FCFCFC}
h3{margin:4px 0 5px;border-bottom:3px solid #E8E8E8}
h1:first-child,h3:first-child{margin:4px 0 5px}

header,footer{position:absolute;width:100%;background:#363636}
header{height:60.2%;top:0;z-index:4}
  nav{height:40px;width:1000px;margin:auto;opacity:0;z-index:7;position:relative\9;filter:alpha(opacity=0)\9}
  #nav-text{position:absolute;z-index:9;margin-left:30px}
  #nav-text li{text-align:left;height:40px;list-style:none;float:left;text-align:center}
  #nav-text #intro,#nav-text #intro a,#nav-background #intro-bg{width:78px}
  #nav-text #proficiency,#nav-text #proficiency a,#nav-background #proficiency-bg{width:128px}
  #nav-text #experience,#nav-text #experience a,#nav-background #experience-bg{width:132px}
  #nav-text #portfolio,#nav-text #portfolio a,#nav-background #portfolio-bg{width:108px}
  #nav-text #contact,#nav-text #contact a,#nav-background #contact-bg{width:102px}
  #nav-text #more,#nav-text #more a,#nav-background #more-bg{width:82px}
  #nav-text li a{float:left;display:block;height:30px;padding-top:12px;outline:none;border-bottom:0;font-weight:bold;font-size:1.1em;color:#FFF;cursor:pointer;letter-spacing:0.1em}
  #nav-text li.active{background-color:#FFF}
  #nav-text #intro:hover a,#nav-text #intro a.active{color:#C75C5C} /*red*/
  #nav-text #proficiency:hover a,#nav-text #proficiency a.active{color:#5C5CC7} /*dark blue*/
  #nav-text #experience:hover a,#nav-text #experience a.active{color:#C7984F} /*orange*/
  #nav-text #portfolio:hover a,#nav-text #portfolio a.active{color:#5CC75C} /*green*/
  #nav-text #contact:hover a,#nav-text #contact a.active{color:#915CC7} /*purple*/
  #nav-text #more:hover a,#nav-text #more a.active{color:#C75CBC} /*pink*/
  #nav-background{position:absolute;z-index:8;margin-left:30px;opacity:1}
  #nav-background li{display:block;height:40px;list-style:none;float:left}
  #nav-background li.active{background:#FFF}
  #header-content{position:absolute;bottom:0;height:40px;float:left;width:0.1%;display:block}
  #title{position:absolute;width:100%;bottom:0;left:0}
  #title ul{width:330px;margin:auto;padding-left:735px}
  #title li{float:left;width:14px;height:40px;padding:0 4px;list-style:none;position:relative}
  #title ul li .gk21-container{position:absolute;top:0;left:0;width:14px;height:40px;z-index:6;display:block}
  #title ul li .gk21{margin:auto;width:0;height:100%;display:block;background-color:#FFF}
  #title ul li .char{font-size:1.1em;font-family:Lucida Console,arial,san-serif;line-height:3.3em;position:absolute;top:0;left:0;width:14px;height:40px;text-align:center;color:#FEFEFE;display:none}
  #showcontent-container{background-color:#363636;border-radius:18px;height:22px;position:absolute;top:10px;right:10px;width:160px;z-index:1}
  #show-content{background:url('images/global-icon.png') 100px -90px no-repeat;position:absolute;top:-2px;right:5px;width:130px;height:30px;line-height:2.1em;z-index:2}
  #show-content span{background:url('images/global-icon.png') 100px -60px no-repeat;width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;transition:opacity 0.3s}
  #show-content .text{color:#FFF}
  #show-content:hover span{opacity:1;cursor:pointer}

#container-background{height:100%;width:100%;display:block;position:absolute;top:40px;left:0;background-repeat:repeat;background-position:bottom left}
  .bg0{background-image:url('images/bg0.jpg')}.bg1{background-image:url('images/bg1.jpg')}.bg2{background-image:url('images/bg2.jpg')}.bg3{background-image:url('images/bg3.jpg')}.bg4{background-image:url('images/bg4.jpg')}.bg5{background-image:url('images/bg5.jpg')}.bg6{background-image:url('images/bg6.jpg')}.bg7{background-image:url('images/bg7.jpg')}.bg8{background-image:url('images/bg8.jpg')}.bg9{background-image:url('images/bg9.jpg')}.bg10{background-image:url('images/bg10.jpg')}.bg11{background-image:url('images/bg11.jpg')}.bg12{background-image:url('images/bg12.jpg')}.bg13{background-image:url('images/bg13.jpg')}.bg14{background-image:url('images/bg14.jpg')}.bg15{background-image:url('images/bg15.jpg')}.bg16{background-image:url('images/bg16.jpg')}.bg17{background-image:url('images/bg17.jpg')}.bg18{background-image:url('images/bg18.jpg')}.bg19{background-image:url('images/bg19.jpg')}
  
#container{width:1000px;height:100%;display:block;margin:auto;background:#FFF;opacity:0;position:relative}
  #content-container{padding:20px 20px 0 20px;margin-top:40px;overflow-y:scroll;box-shadow:0 0 10px 0 #363636}
    #primary-content{float:left;text-align:justify;width:640px;padding:11px 0 80px}
    
    #secondary{float:right;margin:0;width:280px;z-index:1;padding-bottom:80px;position:relative}
    #secondary-content .title{float:left;width:80px;font-weight:bold;text-align:right;padding-right:10px}
    #secondary-content .info{float:left;width:138px}
    .secondary-content-item{border:1px solid #ddd;background:#EEE;border-radius:10px;padding:10px 20px 10px;margin-top:20px;position:relative}
    .secondary-content-item:after{content:"";position:absolute;z-index:-1;top:10px;bottom:3px;left:10px;right:10px;box-shadow:0 0 10px #000;border-radius:100px/7px}
    .secondary-content-item:first-child{margin-top:0}
    #secondary-content-new{margin-top:0;display:none}
    #content-footer{position:absolute;bottom:40px;height:60px;width:982px;background:url('images/bg-content-footer.png') repeat-x bottom;z-index:2}
    #show-bg{background:url('images/global-icon.png') 108px -60px no-repeat;position:absolute;top:25px;right:160px;width:153px;height:30px;line-height:2.1em}
    #show-bg span{background:url('images/global-icon.png') 108px -90px no-repeat;width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;transition:opacity 0.3s}
    #show-bg .text{margin-right:10px}
    #refresh{background:url('images/global-icon.png') 100px 0 no-repeat;position:absolute;top:25px;right:0;width:145px;height:30px;line-height:2.1em}
    #refresh span{background:url('images/global-icon.png') 100px -30px no-repeat;width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;transition:opacity 0.3s}
    #show-bg:hover span,#refresh:hover span{opacity:1;cursor:pointer}

footer{height:40%;bottom:0;z-index:5}
  #footer-content{border-top:1px solid #fff;float:right;width:0.1%;display:block}

/* @group page components */

/*intro*/
  .profile-pic{border:1px solid #CCC}

/*skills*/
  #proficiency-content{position:relative}
  .proficiency-summary{margin:0;display:inline-block;vertical-align:top}
  .proficiency-summary li{list-style:none;float:left;height:22px}
  .proficiency-summary .title{width:270px;font-weight:bold}
  .proficiency-summary .title-pro{width:190px;font-weight:bold;text-align:center}
  .proficiency-summary .title-exp{width:180px;font-weight:bold;text-align:right}
  .proficiency-summary .lang{width:280px}
  .proficiency-summary .pro{width:190px;text-align:center;background:url('images/rate.png') no-repeat}
  .proficiency-summary .rate0{background-position:-190px 0}.proficiency-summary .rate1{background-position:-171px 0}.proficiency-summary .rate2{background-position:-152px 0}.proficiency-summary .rate3{background-position:-133px 0}.proficiency-summary .rate4{background-position:-114px 0}.proficiency-summary .rate5{background-position:-95px 0}.proficiency-summary .rate6{background-position:-76px 0}.proficiency-summary .rate7{background-position:-57px 0}.proficiency-summary .rate8{background-position:-38px 0}.proficiency-summary .rate9{background-position:-19px 0}
  .proficiency-summary.level2 .rate0{background-position:-190px -22px}.proficiency-summary.level2 .rate1{background-position:-171px -22px}.proficiency-summary.level2 .rate2{background-position:-152px -22px}.proficiency-summary.level2 .rate3{background-position:-133px -22px}.proficiency-summary.level2 .rate4{background-position:-114px -22px}.proficiency-summary.level2 .rate5{background-position:-95px -22px}.proficiency-summary.level2 .rate6{background-position:-76px -22px}.proficiency-summary.level2 .rate7{background-position:-57px -22px}.proficiency-summary.level2 .rate8{background-position:-38px -22px}.proficiency-summary.level2 .rate9{background-position:-19px -22px}
  .proficiency-summary.level3 .rate0{background-position:-190px -44px}.proficiency-summary.level3 .rate1{background-position:-171px -44px}.proficiency-summary.level3 .rate2{background-position:-152px -44px}.proficiency-summary.level3 .rate3{background-position:-133px -44px}.proficiency-summary.level3 .rate4{background-position:-114px -44px}.proficiency-summary.level3 .rate5{background-position:-95px -44px}.proficiency-summary.level3 .rate6{background-position:-76px -44px}.proficiency-summary.level3 .rate7{background-position:-57px -44px}.proficiency-summary.level3 .rate8{background-position:-38px -44px}.proficiency-summary.level3 .rate9{background-position:-19px -44px}
  .proficiency-summary .exp{width:170px;text-align:right}
  .proficiency-summary .divider{width:100%}

/*experience*/
  #mask{width:595px;height:100%}
  #mask .item{width:595px;height:650px;float:right}
  #show-all{float:right;margin-top:-25px}
  #show-all:hover{cursor:pointer}
  #exp-details-wrapper{width:595px;overflow:hidden;height:650px;float:left}
  #exp-details-wrapper .info{padding:5px 15px;margin-bottom:5px}
  #exp-details-wrapper .info0{padding:0 15px;border-bottom:1px solid #EEE}
  #exp-details-wrapper .dept{float:right;padding-right:10px}
  #exp-details-wrapper .job4{border-bottom:5px solid #0079C1}
  #exp-details-wrapper .job3{border-bottom:5px solid #80F}
  #exp-details-wrapper .job2{border-bottom:5px solid #F43E45}
  #exp-details-wrapper .job1{border-bottom:5px solid #239f36}
  #exp-details-wrapper .job0{border-bottom:5px solid #FECB04}
  #exp-details-wrapper .details{padding:5px 0 15px;text-align:left}
  #scroll{width:30px;height:650px;float:right;margin:0}
  #scroll li{list-style:none;height:325px;position:relative}
  #exp-up{background:url('images/global-icon.png') 0px -180px no-repeat;height:30px;width:30px;position:absolute;bottom:22px;left:0;opacity:0;display:none}
  #exp-up span{background:url('images/global-icon.png') 0px -210px no-repeat;width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;transition:opacity 0.3s}
  #exp-down{background:url('images/global-icon.png') 0px -240px no-repeat;height:30px;width:30px;position:absolute;top:22px;left:0;opacity:1;display:block}
  #exp-down span{background:url('images/global-icon.png') 0px -270px no-repeat;width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;transition:opacity 0.3s}
  #exp-up:hover span,#exp-down:hover span{opacity:1;cursor:pointer}

  #graph-overview{margin:25px 0 60px;float:right}
  #graph-overview li{list-style:none;float:right}
  #graph-overview li a.experience-panel{border:0;display:block;height:100%;width:100%;color:#FFF}
  #graph-overview li .role-details{font-size:0.9em}
  #graph-overview .overview{line-height:1.2em;padding-left:70px;width:153px;text-align:right}
  #graph-overview .overview:hover{cursor:pointer;width:153px;padding-left:85px}
  #graph-overview .active{width:153px;padding-left:85px}
  #overview4{height:59px;border-radius:0 0 0 0;
    background:#EEE;
    background:-moz-linear-gradient(top,#EEE 0%,#0079C1 20%,#0079C1 100%);
    background:-webkit-gradient(linear,left top,left bottom, color-stop(0%,#EEE),color-stop(20%,#0079C1),color-stop(100%,#0079C1));
    background:-webkit-linear-gradient(top,#EEE 0%,#0079C1 20%,#0079C1 100%);
    background:-o-linear-gradient(top,#EEE 0%,#0079C1 20%,#0079C1 100%);
    background:-ms-linear-gradient(top,#EEE 0%,#0079C1 20%,#0079C1 100%);
    background:linear-gradient(top,#EEE 0%,#0079C1 20%,#0079C1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE',endColorstr='#0079C1',GradientType=0);
  }
  #overview4 div{padding-top:10px;text-align:left}
  #overview3{background:#80F;height:142px}
  #overview3 div{padding-top:46px;text-align:left}
  #overview2{background:#F43E45;height:131px}
  #overview2 div{padding-top:45px;text-align:left}
  #overview1{background:#239f36;height:49px}
  #overview1 div{padding-top:3px;text-align:left}
  #overview0{background:#FECB04;height:256px}
  #overview0 div{padding-top:120px;color:#111;text-align:left}
  #years{width:50px;position:absolute;top:91px;left:35px;margin:0}
  #years li{list-style:none;font-weight:bold;color:#FFF;text-align:center;height:47px;line-height:50px;background:#363636;border:1px solid #EEE;border-top:0}
  #years li:first-child{background:#EEE;
    background:-moz-linear-gradient(top,#EEE 0%,#363636 60%,#363636 100%);
    background:-webkit-gradient(linear,left top,left bottom, color-stop(0%,#EEE),color-stop(60%,#363636),color-stop(100%,#363636));
    background:-webkit-linear-gradient(top,#EEE 0%,#363636 60%,#363636 100%);
    background:-o-linear-gradient(top,#EEE 0%,#363636 60%,#363636 100%);
    background:-ms-linear-gradient(top,#EEE 0%,#3636361 60%,#363636 100%);
    background:linear-gradient(top,#EEE 0%,#363636 60%,#363636 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE',endColorstr='#363636',GradientType=0);
  }

/*portfolio*/
  #portfolio-content{position:relative}
  #portfolio-content h1{text-transform:none;width:560px;display:inline-block;margin-bottom:10px}
  #portfolio-content .h1{margin-left:15px;font-size:0.7em;font-style:italic;letter-spacing:0.2em;display:inline}
  #loader-image{position:absolute;width:628px;height:520px;top:45px;margin-left:10px;background:#FFF;z-index:2;display:none}
  #loader-image div{height:32px;width:32px;background:url('images/loading.gif');margin:225px auto 0}
  #portfolio-item{position:absolute;width:626px;background:#FFF;top:45px;display:none;z-index:1;margin-left:10px}
  #portfolio-other{position:relative}
  #portfolio-image{position:relative}
  #portfolio-image img{border:1px solid #DDD}
  #portfolio-image:after{content:"";position:absolute;z-index:-1;bottom:9px;left:10px;right:10px;box-shadow:0 0 10px #555;border-radius:100px/7px}
  #portfolio-long-description{margin:10px 0 60px}
  #portfolio-secondary-cover{position:absolute;width:280px;z-index:1;background:#FFF;opacity:0;height:100%;display:none}
  #portfolio-content #options {padding-bottom:60px}
  #portfolio-content #options ul{margin:0;list-style:none}
  #portfolio-content #options ul ul{margin-left:1.5em;list-style:none}
  #portfolio-content #options li{float:left;margin-bottom:0.2em;list-style:none}
  #portfolio-content #options li a{display:block;padding:4px 12px;background-color:#DDD;color:#444;font-weight:bold;text-shadow:0 1px hsla(0,0%,100%,0.5);border-bottom:0;
    background-image:-moz-linear-gradient(-90deg,hsla(0,0%,100%,0.5),hsla(0,0%,100%,0.0));
    background-image:-webkit-gradient(linear,0 top,0 bottom,from(hsla(0,0%,100%,0.5)),to(hsla(0,0%,100%,0.0)));
    background-image:-o-linear-gradient(-90deg,hsla(0,0%,100%,0.5),hsla(0,0%,100%,0.0))}
  #portfolio-content #options li a:hover{background:#9CF}
  #portfolio-content #options li a:active{background:#39D;-webkit-box-shadow:inset 0 2px 8px hsla(0,0%,0%,0.6);-moz-box-shadow:inset 0 2px 8px hsla(0,0%,0%,0.6);-o-box-shadow:inset 0 2px 8px hsla(0,0%,0%,0.6);box-shadow:inset 0 2px 8px hsla(0,0%,0%,0.6)}
  #portfolio-content #options li a{border-left:1px solid hsla(0,0%,100%,0.3);border-right:1px solid hsla(0,0%,0%,0.2)}
  #portfolio-content #options li:first-child a{border-radius:7px 0 0 7px;border-left:none}
  #portfolio-content #options li:last-child a{border-radius:0 7px 7px 0}
  #portfolio-content #options li a.selected{background-color:#2C72B6;text-shadow:none;color:white}
  #portfolio-content #options .option-combo{display:inline-block;float:left;position:relative}  
  #portfolio-content #options .option-combo:after{content:"";position:absolute;z-index:-1;bottom:9px;left:10px;right:10px;box-shadow:0 0 10px #555;border-radius:100px/7px}
  #portfolio-content #options .option-combo ul{display:inline-block}
  #portfolio-content #options .first{margin-left:10px;margin-right:28px}
  #close{background:url('images/global-icon.png') 40px -120px no-repeat;position:absolute;top:0;right:0;width:70px;height:30px;line-height:2.5em;font-weight:bold}
  #close span{background:url('images/global-icon.png') 40px -150px no-repeat;width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;transition:opacity 0.3s}
  #close:hover span{opacity:1;cursor:pointer}
  .isotope-item{z-index:2}
  .isotope-hidden.isotope-item{pointer-events:none;z-index:1}
  .isotope,.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s}
  .isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width}
  .isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-o-transition-property:top,left,opacity;transition-property:transform,opacity}
  .isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s}
  .isotope.infinite-scrolling{-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none}
  #isotope-container{margin-bottom:20px;width:636px}
  .element{width:94px;height:94px;float:left;margin:0 0 10px 10px;overflow:hidden;position:relative;background:#EEE;color:#222;border:1px solid #BBB}
  .element:hover{border:1px solid #888}
  .element a{color:#FFF;}
  .element.development{background:#FFF}
  .element.design{background:#FFF}
  .element.developmentanddesign{background:#FFF}
  .element.other{background:#FFF}
  .element * {position:absolute;margin:0}
  .element .number{display:none}
  .variable-sizes .element.large{width:200px;height:200px}
  .portfolio-info{font-weight:bold}

/*contact*/
  #contact-form form{width:100%;margin:15px auto 0;display:block;opacity:1}
  #contact-form fieldset{padding:10px 20px;border:1px solid #eee;-webkit-border-radius:5px;-moz-border-radius:5px;margin:0 0 20px}
  #contact-form legend{padding:7px 20px;font-weight:bold;border:1px solid #eee;-webkit-border-radius:5px;-moz-border-radius:5px;margin-bottom:0 !important;margin-bottom:20px}
  #contact-form label{float:left;width:100px;padding:16px 20px 0 0;text-align:right}
  #contact-form input,#contact-form textarea,#contact-form select{float:left;border:1px solid #ccc;width:415px;min-height:30px;display:block;margin:8px auto 16px;border-radius:5px;padding:0 10px;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out}
  #contact-form select{padding:4px 10px;width:436px;height:22px;color:#666}
  #contact-form textarea{padding:10px;min-height:100px}
  #contact-form input:focus,#contact-form textarea:focus,#contact-form select:focus{box-shadow:0 0 25px #ccc;-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05)}
  #contact-form input:not(:focus),#contact-form textarea:not(:focus),#contact-form select:not(:focus){opacity:0.5}
  #contact-form input:required,#contact-form textarea:required{background:url("images/form_required.png") no-repeat 410px 7px}
  #contact-form input:valid,#contact-form textarea:valid{background:url("images/form_check.png") no-repeat 410px 7px}    
  #contact-form input:focus:invalid,#contact-form textarea:focus:invalid{background:url("images/form_invalid.png") no-repeat 410px 7px}
  #contact-form input[type=submit]{width:150px;padding:10px;opacity:1;margin-left:235px;color:#444}
  #contact-form input[type=submit]:hover{cursor:pointer}
  #contact-form-success{opacity:0;display:none}

/*more*/
  #more{margin-left:0}
  #more li{list-style:none;margin-bottom:15px}
  #more li h1{color:#444;margin-left:40px;width:430px;margin-top:0;padding-top:4px;text-transform:none;width:600px}
  #more li p{margin-left:40px}
  .icons a{display:block;width:100%;height:100%;outline:0}
  .icons{background:url('images/social-media-icons.png') no-repeat;width:30px;height:30px;margin:0;padding:0;list-style:none;position:relative;display:inline-block;border-bottom:0}
  .icons span{background:url('images/social-media-icons.png') no-repeat;width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;transition:opacity 0.3s}
  #wow{background-position:0 0}#wow span{background-position:-30px 0}#wow:hover span{opacity:1}
  #linkedin{background-position:0 -30px}#linkedin span{background-position:-30px -30px}#linkedin:hover span{opacity:1}
  #facebook{background-position:0 -60px}#facebook span{background-position:-30px -60px}#facebook:hover span{opacity:1}
  #googleplus{background-position:0 -90px}#googleplus span{background-position:-30px -90px}#googleplus:hover span{opacity:1}
  #twitter{background-position:0 -120px}#twitter span{background-position:-30px -120px}#twitter:hover span{opacity:1}
  #rss{background-position:0 -150px}#rss span{background-position:-30px -150px}#rss:hover span{opacity:1}
  #youtube{background-position:0 -180px}#youtube span{background-position:-30px -180px}#youtube:hover span{opacity:1}
  #foursquare{background-position:0 -210px}#foursquare span{background-position:-30px -210px}#foursquare:hover span{opacity:1}
  #pinterest{background-position:0 -240px}#pinterest span{background-position:-30px -240px}#pinterest:hover span{opacity:1}
  #deviantart{background-position:0 -270px}#deviantart span{background-position:-30px -270px}#deviantart:hover span{opacity:1}
  #flickr{background-position:0 -300px}#flickr span{background-position:-30px -300px}#flickr:hover span{opacity:1}
  #twitter-update-list{margin:5px 0 15px}